* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree";
}

body {
    background-color: #06171e;
    display: flex;
    flex-direction: column;
}

/* Styling for the header */

.header-main {
    background-color: #09212a;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 140px;
}

.header-main-icon {
    width: 40px;
    height: auto;
}
.header-main-headline {
    height: 32px;
}

/* Styling for the main-part */

main {
    display: flex;
    color: white;
    min-height: 100dvh;
}

h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
}

.main-foto-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 160px;
    flex-wrap: wrap;
}
.main-foto-container-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.main-foto-container-images img {
    opacity: 0.8;
    border: solid 2px #124658;
    border-radius: 16px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.main-foto-container-images img:hover {
    opacity: 1;
    border: solid 2px #6bc1e1;
    transition: all ease-out 100ms;
    transform: scale(1.005);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling fot the dialog */

.dialog-inner-img {
    width: 520px;
    height: 340px;
    object-fit: cover;
}

#fotogramDialog {
    margin: auto;
}

#fotogramDialog:modal {
    background-color: #09212a;
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 48px;
    padding: 56px 64px;
    font-size: 24px;
    font-family: "Figtree";
    font-weight: 700;
    border-radius: 40px;
}

#fotogramDialog:modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fotogramDialog:modal header a:hover {
    background-image: url(../assets/icon/close-icon-hover.png);
    background-repeat: no-repeat;
}

#fotogramDialog:modal header a:active {
    background-image: url(../assets/icon/close-icon-while-pressing.png);
    background-repeat: no-repeat;
}

#fotogramDialog:modal footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mirrored {
    transform: scaleX(-1);
}
/* Styling for the footer */

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    background-image: url(../assets/icon/footer-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
}

.footer-main-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* Media Queries */

@media screen and (min-width: 1440px) {
    main {
        padding: 0px max(120px, calc((50% - 720px)));
    }
    .header-main {
        padding: 0px max(120px, calc((50% - 720px)));
    }
}
