/* global styling */
:root {
    --primary-color: #06171e;
    --secondary-color: #09212a;
    --border-color: #124658;
    --border-color-hover: #6bc1e1;
    --text-color: white;
    --text-font: "Figtree";
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body:has(.dialog-fotogram[open]) {
    overflow: hidden;
}

/* Styling for the header */

.header-main {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 140px;
}

.header-main-icon {
    height: 32px;
    object-fit: cover;
}

/* Styling for the main-part */

h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    margin-top: 56px;
}

.main-button {
    border-radius: 16px;
    border: none;
    padding: 0px;
    background-color: #06171e;
}

.main-button img {
    display: block;
}

.main-list-item {
    list-style-type: none;
}

.main-foto-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    flex-wrap: wrap;
    min-height: calc(100vh - 208px);
}

.main-foto-container-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0px 32px 56px 40px;
}

.main-foto-container-images img {
    border: solid 2px var(--border-color);
    border-radius: 16px;
    opacity: 0.8;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}
.main-foto-container-images img:hover {
    border: solid 2px var(--border-color-hover);
    opacity: 1;
    transition: all ease-out 100ms;
    transform: scale(1.005);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling fot the dialog */

.dialog-inner-img {
    max-width: 560px;
    min-width: 285px;
    height: 370px;
    object-fit: cover;
}
.dialog-fotogram:modal {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 40px;
    font-size: 24px;
    font-family: var(--text-font);
    font-weight: 700;
    padding: 0;
    margin: auto;
}

.dialog-fotogram:modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog-fotogram:modal header img {
    width: 24px;
    height: 24px;
}

.dialog-fotogram:modal header img:hover {
    background-image: url(../assets/icon/close-icon-hover.png);
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

.dialog-fotogram:modal header img:active {
    background-image: url(../assets/icon/close-icon-while-pressing.png);
    background-repeat: no-repeat;
}

.dialog-fotogram:modal footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.dialog-fotogram-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 48px;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    padding: 20px 64px;
}

.dialog-fotogram-title {
    font-size: 24px;
}

.dialog-fotogram-footer {
    font-size: 16px;
}

.dialog-footer-button {
    width: 60px;
    height: 60px;
}

.dialog-footer-button:hover {
    background-image: url(../assets/icon/next-icon-hover.png);
    cursor: pointer;
}

.mirrored {
    transform: scaleX(-1);
}

/* Styling for the footer */

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 128px;
    background-image: url(../assets/icon/footer-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: auto;
}

.footer-main-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* Media Queries */

@media screen and (min-width: 1440px) {
    main {
        padding: 0px max(120px, calc((50% - 720px)));
    }
    .header-main {
        padding: 0px max(120px, calc((50% - 720px)));
    }
}

@media screen and (max-width: 1279px) {
    .footer-main {
        background-image: url(../assets/icon/footer-background-mobile.svg);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
        padding: 0px 8px;
    }

    .main-foto-container {
        gap: 40px;
    }

    .dialog-fotogram-content {
        max-width: 400px;
        padding: 32px 16px;
        gap: 24px;
    }

    .dialog-fotogram:modal header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .dialog-title-mobile {
        align-self: start;
    }

    .dialog-inner-img {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 530px) {
    h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    .header-main {
        justify-content: center;
    }

    .dialog-fotogram-footer {
        white-space: nowrap;
    }
    .dialog-fotogram-content {
        padding: 32px 16px;
        gap: 24px;
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 24px;
    }

    .main-foto-container-images img {
        max-width: 250px;
        max-height: 250px;
    }
}
